
  
.custom-container {
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-image {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.custom-button {
    display: block;
    margin: 20px auto;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
}

.custom-profile-button {
    display: block;
    margin: 20px auto;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: red;			
}

button:hover {
    color: white;
    text-decoration: none;
    background-color: red;			
}

.profile-paragraph {
    font-size: 18px;
    color: #000000;
}
    